* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

:root {
    /* colors */
    --dark-01: #131313;
    --dark-02: #424242;
    --dark-03: #727272;
    --dark-04: #A1A1A1;
    --dark-05: #D0D0D0;
    --dark-06: #E7E7E7;
    --dark-07: #F3F3F2;

    --color-primary: rgb(255, 144, 14);
    --bg-primary: rgba(255, 144, 14, 0.1);
    --bg-secondary: rgb(255, 244, 231);
}

.title-normal {
    /* font-size: 45px; */
    font-size: clamp(1.5rem, 0.9952rem + 2.0192vw, 2.8125rem);
    ;
    font-weight: 700;
    /* line-height: 53px; */
    color: var(--dark-01);
}

.title-large {
    /* font-size: 64px; */
    font-size: clamp(2rem, 1.2308rem + 3.0769vw, 4rem);
    ;
    font-weight: 700;
    /* line-height: 75px; */
    color: var(--dark-01);
}

.text-normal {
    /* font-size: 16px; */
    font-size: clamp(0.625rem, 0.4808rem + 0.5769vw, 1rem);
    ;
    font-weight: 400;
    /* line-height: 26px; */
    color: var(--dark-03);
}

.text-large {
    /* font-size: 20px; */
    font-size: clamp(0.75rem, 0.5577rem + 0.7692vw, 1.25rem);
    font-weight: 600;
    /* line-height: 23px; */
    color: var(--dark-01);
}

.btn-primary {
    border: none;
    background: var(--color-primary);
    color: #fff;
    /* font-size: 20px; */
    font-size: clamp(0.75rem, 0.5577rem + 0.7692vw, 1.25rem);
    font-weight: 600;
    /* line-height: 23px; */
    padding: 20px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.container {
    max-width: min(1440px, 85%);
    margin: 0 auto;
}

/* Header Styles */
header {
    background: var(--bg-primary);
    /* position: relative; */
}

.navigation {
    position: fixed;
    z-index: 99999;
    background: rgb(255, 243, 229);
    top: 0;
    left: 0;
    right: 0;
}

.navigation-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.checkbtn-close,
.checkbtn-open {
    text-align: right;
    cursor: pointer;
    padding: 20px 0;
}

.checkbtn-close {
    display: none;
}

nav {
    grid-column: span 2;
    text-align: center;
    display: none;
}

#check {
    display: none;
}

#check:checked~nav,
#check:checked~.checkbtn-close {
    display: block;
}

#check:checked~.checkbtn-open {
    display: none;
}

#check:checked~nav {
    background: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
}

nav ul {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: var(--dark-02);
    /* font-size: 18px; */
    font-size: clamp(0.875rem, 0.7788rem + 0.3846vw, 1.125rem);
    font-weight: 500;
    padding: 20px 15px;
    display: inline-block;
    position: relative;
}

nav ul li a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    background: var(--color-primary);
    transition: all 0.3s;
}

nav ul li a:hover::after {
    opacity: 1;

}

@media (min-width: 768px) {
    nav {
        display: block;
        grid-column: span 1;
        justify-self: end;
    }

    .checkbtn-close,
    .checkbtn-open {
        display: none;
    }

    nav ul {
        display: flex;
    }
}

/* Hero style */
.hero {
    /* margin-top: 15px; */
    padding-top: 150px;
}

.hero-text {
    text-align: center;
}

.hero-text p {
    margin: 32px 0;
}

.hero-img img {
    margin: 50px 0;
    width: 100%;
    border-radius: 8px;
}

.hero-img img:hover{
    cursor: pointer;
}

/* Featuren Style */

.feature {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px ;
}

.feature-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}



.img-items {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    
    /* height: 100%; */
}
.img-items img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.img-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.feature-txt {
    padding-top: 25px;
}

.feature-txt span {
    color: var(--dark-04);
    font-weight: 500;
}

.feature-txt>h2 {
    color: var(--color-primary);
}

.feature-txt>p {
    margin: 32px 0;
}

@media (min-width:640px) {
    .feature-img {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 768px) {
    .feature {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .feature-txt {
        padding-top: 0;
    }
}

/* Feature 2 style */
.feature-txt-title>h1 {
    border-left: 4px solid var(--color-primary);
    padding-left: 15px;
}

.feature-txt-title>p{
    margin:  25px 0;
}

.feature-2{
    display: grid;
    gap: 50px;
    position: relative;
    padding: 50px 0px;
}

.year-card{
    background: var(--color-primary);
    color: var(--dark-07);
    text-align: center;
    padding: 30px 40px;
    border-radius: 8px;

    position: absolute;
    bottom: 0;
    left: 15%;
}
.year-card h2{
    color: inherit;
}

.txt-card {
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin: 10px 0;
    cursor: pointer;
}

.txt-card:hover{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
}
.feature-img2{
    width: 100%;
    height: 100%;
}
.feature-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.feature-img2:hover{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (min-width: 768px) {
    .feature-2{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .feature-img2{
        /* width: 100%; */
        height: 100%;
    }
    .year-card{
        left: 50%;
    }
}

/* Facts style */

.facts{
    padding: 50px 0;
}

.facts-title{
    width: 70%;
}

.facts-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0;
}

.facts-card{
    padding: 40px;
    border: 1px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.facts-card:hover{
    background: var(--bg-primary);
    cursor: pointer;
    transition: 0.3s linear;
}

/* Sponsors Style */
.sponsors-title{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.sponsors-title p{
    margin: 16px auto;
}

.sponsors-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: space-between;
    gap: 50px;
    padding: 50px 0;
}
.sponsors-card{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: all 0.3s;
}
.sponsors-card:hover{
    cursor: pointer;
    filter: grayscale(0);
}

/* footer style */
.footer{
    box-sizing: border-box;
    text-align: center;
    background: var(--bg-secondary);
    padding: 20px;
    border-radius: 8px;
    margin: 50px auto;
}
